/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: rgba(0, 0, 40, 1); /* цвет заднего фона */
  --main-color-text: rgba(241, 178, 206, 1); /* цвет обычного текста */
  --title-color-text: rgba(219, 0, 255, 1); /* цвет заголовка */
  --subtitle-color-text: rgba(0, 0, 40, 1); /* цвет текста с фоном */
  --intermediate-text: rgba(255, 0, 112, 1); /* цвет текста h2 */
  --accent-color: rgba(255, 0, 112, 1); /* задний фон заголовков и тень*/
  --corner-color: rgba(255, 0, 112, 1); /* цвет уголков */
  --visible: visible;
}