/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: rgba(255, 241, 247, 1); /* цвет заднего фона */
  --main-color-text: rgba(53, 52, 48, 1); /* цвет обычного текста */
  --title-color-text: rgba(255, 194, 230, 1); /* цвет заголовка */
  --subtitle-color-text: rgba(53, 52, 48, 1); /* цвет текста с фоном */
  --intermediate-text: rgba(53, 52, 48, 1); /* цвет текста h2 */
  --accent-color: rgba(255, 141, 203, 1); /* задний фон заголовков */
  --corner-color: rgba(53, 52, 48, 1); /* цвет уголков */
  --hover-color: rgba(50, 49, 45, 0.4);
  --visible: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: rgba(255, 241, 247, 1); /* цвет заднего фона */
    --main-color-text: rgba(53, 52, 48, 1); /* цвет обычного текста */
    --title-color-text: rgba(255, 194, 230, 1); /* цвет заголовка */
    --subtitle-color-text: rgba(53, 52, 48, 1); /* цвет текста с фоном */
    --intermediate-text: rgba(53, 52, 48, 1); /* цвет текста h2 */
    --accent-color: rgba(255, 141, 203, 1); /* задний фон заголовков */
    --corner-color: rgba(53, 52, 48, 1); /* цвет уголков */
    --hover-color: rgba(50, 49, 45, 0.4);
    --visible: hidden;
  }
  /* Остальные стили, только при необходимости */
}