/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-attachment: fixed;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--main-color-text);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* header */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr auto;
  align-self: center;
  padding: var(--page-padding);
  height: 100vh;
  min-height: 668px;
  position: relative;
}

/* навигация кнопок с js */
.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--corner-color);
  border: 0;
  padding: 1.5px 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  border-bottom: 1px solid var(--corner-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--corner-color);
}

/* остальной header */
.decorated-zone::before {
  content: "";
  position: absolute;
  inset-inline-start: var(--page-padding);
  inset-block-end: var(--page-padding);
  border-block-end: 1px solid var(--corner-color);
  border-inline-start: 1px solid var(--corner-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-inline-end: var(--page-padding);
  inset-block-start: var(--page-padding);
  border-block-start: 1px solid var(--corner-color);
  border-inline-end: 1px solid var(--corner-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__rec {
  position: absolute;
  visibility: var(--visible);
  color: rgba(255, 0, 112, 1);
  text-transform: uppercase;
  inset-block-start: var(--page-padding);
  inset-inline-end: calc(var(--page-padding) + 3px + 25px);
}

.header__rec::after {
  content: "";
  position: absolute;
  visibility: var(--visible);
  block-size: 5px;
  inline-size: 5px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--corner-color);
  color: rgba(255, 0, 112, 1);
  background-color: rgba(255, 0, 112, 1);
  inset-inline-end: -18px;
  inset-block-start: 9px;
}

.header__title {
  justify-self: start;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color-text);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  display: flex;
  flex-direction: column;
  max-width: 364px;
  align-self: center;
  justify-self: end;
  color: var(--subtitle-color-text);
  background-color: var(--accent-color);
  font-size: 18px;
}

/* main */
main {
  padding: var(--page-padding);
}

.intermediate-text {
  color: var(--intermediate-text);
  font-weight: 700;
  font-size: var(--font-size);
  margin-bottom: 20px;
}

.subtitle {
  color: var(--subtitle-color-text);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: var(--font-size);
}

.main-text {
  color: var(--main-color-text);
  margin: 10px 0 20px;
}

.focus-practices h4 {
  font-weight: var(--font-weight);
}

.link-word {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link-word:hover {
  border-bottom: 1px solid var(--main-color-text);
}

.link-word:focus-visible {
  border: 1px solid var(--main-color-text);
  outline: none;
}

/* секции */
.focus-barriers h2 {
  margin-top: 30px;
}

.focus-drainers h2,
.focus-practices h2,
.focus-images {
  margin-top: calc(var(--content-padding) - 2px);
}

.focus-practices .subtitle-bold {
  margin-bottom: 20px;
}


/* секция с изображениями */
.focus-images {
  width: 100%;
}

.focus-images h2 {
  margin-bottom: calc(var(--image-gap) + 2px);
}

.focus-images__gallery {
  display: grid;
  gap: var(--image-gap);
}

img {
  width: 100%;
}

/* footer */
.footer {
  padding: var(--page-padding);
  margin-top: 32px;
  height: 100vh;
  min-height: 667px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--title-color-text);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* media */
@media (width >=768px) {
  :root {
    --page-padding: 20px;
    --content-padding: 80px;
    --image-gap: 20px;
  }

  .header__title {
    margin-left: -20px;
  }

  .header__title, 
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .focus-barriers h2 {
    margin: 0;
    min-width: 236px;
  }

  .focus-barriers {
    display: flex;
    margin-top: 40px;
    gap: 20px;
    justify-content: space-between;
  }

  .focus-drainers {
    margin-top: -20px;
  }

  .focus-drainers h2 {
    width: 236px;
  }

  .focus-practices {
    display: flex;
    gap: 20px;
    margin-top: 80px;
  }

  .focus-practices h2 {
    min-width: 236px;
    margin: 0;
  }

  .focus-images {
    margin-top: 58px;
  }

  .focus-images__gallery {
    display: grid;
    gap: var(--image-gap);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .focus-images__gallery img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .focus-images_sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .focus-images_ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .focus-images_tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .focus-images_books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .focus-images_street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    margin-top: 40px;
  }
}

@media (width >=1024px) {
  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__subtitle {
    min-width: 491px;
  }

  .focus-barriers h2 {
    min-width: 315px;
  }

  .focus-drainers h2 {
    width: 315px;
  }

  .focus-drainers div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1000px;
    flex-wrap: wrap;
  }

  .focus-drainers .focus-drainers__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0;
    max-width: 314px;
  }

  .focus-drainers p {
    margin: 10px 0 0 0;
  }

  .focus-practices h2 {
    min-width: 315px;
  }

}